.st-main {
  display        : flex;
  flex-direction : column;
  min-height     : 100%;

  .st-content {
    position  : relative;
    margin    : 50px 15px 50px 15px;
    flex-grow : 1;
  }
}

.st-content-top {
  padding-bottom : 27px;
}

h1.st-title {
  font-weight    : 700;
  float          : left;
  width          : auto;
  margin         : 0;
  padding        : 0;
  color          : #FFF;
  font-size      : 24px;
  text-transform : uppercase;
}
