.loading-spinner {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  background-color : rgba(#000, 0.5);
  text-align       : center;
  z-index          : 1;
}
@-webkit-keyframes spin {
  0% { transform : rotate(0deg); }
  to { transform : rotate(1turn); }
}

@-moz-keyframes spin {
  0% { -moz-transform : rotate(0deg); }
  to { -moz-transform : rotate(1turn); }
}

@keyframes spin {
  0% { transform : rotate(0deg); }
  to { transform : rotate(1turn); }
}


.loading-spinner > span {
  display          : block;
  position         : absolute;
  left             : 50%;
  top              : 50%;
  width            : 50px;
  height           : 30px;
  margin           : -15px 0 0 -25px;
  border-radius    : 50%;
}

.loading-spinner > div {
  display          : block;
  position         : relative;
  left             : 50%;
  top              : 50%;
  width            : 150px;
  height           : 150px;
  margin           : -75px 0 0 -75px;
  border-radius    : 50%;
  border           : 3px solid transparent;
  border-top-color : #f95372;
  transform        : translateZ(0);
  animation        : spin 2s linear infinite;
}

.loading-spinner > div:before {
  content           : "";
  position          : absolute;
  top               : 5px;
  left              : 5px;
  right             : 5px;
  bottom            : 5px;
  border-radius     : 50%;
  border            : 3px solid transparent;
  border-top-color  : #00abff;
  -webkit-animation : spin 3s linear infinite;
  animation         : spin 3s linear infinite;
}

.loading-spinner > div:after {
  content          : "";
  position         : absolute;
  top              : 15px;
  left             : 15px;
  right            : 15px;
  bottom           : 15px;
  border-radius    : 50%;
  border           : 3px solid transparent;
  border-top-color : #e7ba08;
  animation        : spin 1.5s linear infinite;
}
