@import './variables.scss';
@import './material/index.scss';
@import './basic/index.scss';
@import './util.scss';
@import './spinner.scss';
@import './grid.scss';
@import './components/index';

.main {
  position         : relative;
  min-height       : 100%;
  height           : 100%;
  display          : flex;
  flex-direction   : column;

  & > md-toolbar {
    z-index : 1;
    @include mat-elevation(6);

    .app-title {
      line-height : 40px;
      margin-left : 15px;
      color       : #FFF;
      font-size   : 24px;
      font-weight : 400;
      transition  : color 0.5s ease;

      & > span {
        color : #4dc4ff;
      }

      &:hover {
        color : #4dc4ff;
      }
    }
  }

  &::before {
    content         : '';
    position        : fixed;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    background      : url(/assets/img/bg/sky.jpg) no-repeat center center;
    background-size : cover;
    will-change     : transform;
    z-index         : 0;
  }
}
